<div>
    <div class="content-title">Manage User</div>
    <div class="content-main">
        <div>
            <div>This Feature is still under Construction~!</div>
            <div class="margin-top-15px">If you can see this page, you are logged in as Admin</div>
            
            <div class="list-block">
                <span class="description-title">You can log in use Normal User below, you shouldn't see this page.</span>
                <mat-list>
                    <mat-list-item class="description-item">Username: test1</mat-list-item>
                    <mat-list-item class="description-item">Password: 12345</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>