<div class="home-background">
	<div [@flyIn] class="main-content float-content-shadow">
		<div class="section-title">{{ 'home-page.title' | translate }}</div>
		<div class="section-body">
			<span>{{ 'home-page.subtitle' | translate }}</span>
			<div class="list-block">
				<span class="description-title">{{ 'home-page.frontend-desc-title' | translate }}</span>
				<mat-list dense>
					<mat-list-item class="description-item">{{ 'home-page.frontend-desc-item1' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.frontend-desc-item2' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.frontend-desc-item3' | translate }}</mat-list-item>
				</mat-list>
				<div class="description-notes">
					<span>{{ 'home-page.desc-notes-title' | translate }}</span>
					<a class="link" href="https://github.com/k2he/Angular-7-Frontend/tree/monolithic-v1.1-cloud" target="_blank">{{ 'home-page.frontend-desc-notes-link1-desc' | translate }}</a>
					<a class="link" href="https://cloud.docker.com/repository/list" target="_blank">{{ 'home-page.frontend-desc-notes-link2-desc' | translate }}</a>
				</div>
			</div>
			<div class="list-block">
				<span class="description-title">{{ 'home-page.backend-desc-title' | translate }}</span>
				<mat-list>
					<mat-list-item class="description-item">{{ 'home-page.backend-desc-item1' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.backend-desc-item2' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.backend-desc-item3' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.backend-desc-item4' | translate }}</mat-list-item>
					<mat-list-item class="description-item">{{ 'home-page.backend-desc-item5' | translate }}</mat-list-item>
				</mat-list>
				<div class="description-notes">
					<span>{{ 'home-page.desc-notes-title' | translate }}</span>
					<a class="link" href="https://github.com/k2he/spring-boot-microservices/tree/v1.1-docker-compose" target="_blank">{{ 'home-page.backend-desc-notes-link1-desc' | translate }}</a>
					<a class="link" href="{{registryPath}}" target="_blank">{{ 'home-page.backend-desc-notes-link2-desc' | translate }}</a>
					<a class="link" href="{{zipkinPath}}" target="_blank">{{ 'home-page.backend-desc-notes-link3-desc' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</div>