<div class="home-background">
	<div class="content-with-home-background">
		<div [@flyIn] class="main-content float-content-shadow">
			<div class="section-title">{{ 'home-page.title' | translate }}</div>
			<div class="section-body">
				<div class="section-paragraph">
					<span>{{ 'home-page.subtitle' | translate }}</span>
				</div>
				<div class="section-paragraph">
					For more detail about Arcetehcture design and 
					Technology stack, Please visist:
					<a class="highlight" routerLink="/about">Design Page</a>
				</div>

				<div class="section-notes">
					Notes: Please use Chrome
					<img class="link-img" src="/assets/images/chrome-icon.png" />
					since currently features only tested in chrome. Sorry for the inconvinience!
				</div>
			</div>
		</div>
	</div>
</div>