.main-content {
	background-color: #f1f3f9;
    position: absolute;
    right: 250px;
    top: 150px;
    min-height: 300px;
    min-width: 290;
    max-width: 450px;
    padding: 0px 20px;
	border-radius: 3px;
}