.home-main {
	background-image: url("/assets/home_background.jpg"); 
	background-repeat: no-repeat;
	min-height: 565px;
	background-size: 1280px 565px;
}

.main-content {
	background-color: #f1f3f9;
    position: absolute;
    right: 250px;
    top: 150px;
    min-height: 300px;
    min-width: 290;
    max-width: 450px;
    padding: 0px 20px;
    -webkit-box-shadow: 0px 0px 6px 2px #969696d9;  /* Safari*/
	-moz-box-shadow:    0px 0px 6px 2px #969696d9;  /* Firefox */
	box-shadow:         0px 0px 6px 2px #969696d9;  /* Other */
	border-radius: 3px;
}