<div class="home-background">
	<div [@flyIn] class="main-content float-content-shadow">
		<div class="section-title">Angular and APIs Demo App</div>
		<div class="section-body">
			<span>This is my personal testing purpose website. It's to practice new frontend and backend technologies.</span>
			<div class="list-block">
				<span class="description-title">Front-end Technologies:</span>
				<mat-list dense>
					<mat-list-item class="description-item">Angular 5 (Migrated to 7)</mat-list-item>
					<mat-list-item class="description-item">Angular Material</mat-list-item>
				</mat-list>
				<div class="description-notes">
					<span>For details:</span>
					<a class="link" href="https://github.com/k2he/Angular-7-Frontend" target="_blank">My GitHub (Frontend)</a>
					<a class="link" href="https://cloud.docker.com/repository/list" target="_blank">My DockerHub</a>
				</div>
			</div>
			<div class="list-block">
				<span class="description-title">REST APIs Technologies:</span>
				<mat-list>
					<mat-list-item class="description-item">Spring Boot 2, Spring Security 5, Spring Cloud, Spring AOP</mat-list-item>
					<mat-list-item class="description-item">JPA (Hibernate), mySQL, RDS</mat-list-item>
					<mat-list-item class="description-item">Oauth2, JWT, Private & Pubilc keys </mat-list-item>
					<mat-list-item class="description-item">Swagger, Log4j, Lambok, Sleuth, Zipkin</mat-list-item>
					<mat-list-item class="description-item">Docker, Docker Compose, AWS (EC2, RDS)</mat-list-item>
				</mat-list>
				<div class="description-notes">
					<span>For details:</span>
					<a class="link" href="https://github.com/k2he/spring-boot-microservices" target="_blank">My GitHub (Backend)</a>
				</div>
			</div>
		</div>
	</div>
</div>
