<div class="page-main-container"> 

	<div class="page-main-title">
		Contact Us
	</div>
	<div class="page-main-content">
		<div>
			<div >Fill out the form and we will call you back</div>
			<form (ngSubmit)="onSubmit()" #contactUsForm='ngForm' class="form-container width-400px">
				<div></div>
				<mat-form-field>
					<input matInput placeholder="Name" required [(ngModel)]="contectInfo.name" name="name">
				</mat-form-field>
			
				<mat-form-field>
					<input matInput placeholder="Email" required [(ngModel)]="contectInfo.email" name="email">
				</mat-form-field>
				
				<mat-form-field>
					<input matInput placeholder="Phone Number" required [(ngModel)]="contectInfo.phone" name="phone">
				</mat-form-field>
				
				<mat-form-field>
					<input matInput placeholder="Subject" required [(ngModel)]="contectInfo.subject" name="subject">
				</mat-form-field>
				<mat-form-field>
				    <textarea matInput placeholder="Message" required [(ngModel)]="contectInfo.message" name="message"></textarea>
			  	</mat-form-field>
			  	<button mat-button type="submit" [disabled]="!contactUsForm.valid">Submit</button>
	      
			</form>
		</div>
	
	</div>
</div>
