<div class="tests-page">
  <div class="content-title">{{ 'test-page.error-handing-page.title' | translate }}</div>
  <div class="content-main">
    <mat-card>
      <div class="row title">{{ 'test-page.error-handing-page.retry-fail.title' | translate }}</div>
      <div class="row">{{ 'test-page.error-handing-page.retry-fail.description' | translate }}</div>
      <mat-card-actions>
        <button mat-button (click)="testRetryFail()">{{ 'button.test' | translate }}</button>
      </mat-card-actions>
      <mat-card-content>
        <span>Result:</span>
        <div class="row" *ngIf="retryFailResult"><pre>{{retryFailResult}}</pre></div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <div class="row title">{{ 'test-page.error-handing-page.retry-sucess.title' | translate }}</div>
      <div class="row">{{ 'test-page.error-handing-page.retry-sucess.description' | translate }}</div>
      <mat-card-actions>
        <button mat-button (click)="testRetrySuccess()">{{ 'button.test' | translate }}</button>
      </mat-card-actions>
      <mat-card-content>
        <span>Result:</span>
        <div class="row" *ngIf="retrySuccessResult"><pre>{{retrySuccessResult}}</pre></div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <div class="row title">{{ 'test-page.error-handing-page.circuit-breaker.title' | translate }}</div>
      <div class="row">{{ 'test-page.error-handing-page.circuit-breaker.description' | translate }}</div>
      <mat-card-actions>
        <button mat-button (click)="testCircuitBreaker()">{{ 'button.test' | translate }}</button>
      </mat-card-actions>
      <mat-card-content>
        <span>Result:</span>
        <div class="row" *ngIf="circuitBreakerResult"><pre>{{circuitBreakerResult}}</pre></div>
      </mat-card-content>
    </mat-card>
  </div>

</div>