<div>
  <div class="content-title">{{ 'about-page.backend-page.title' | translate }}</div>
  <div class="content-main">
    <div>
      <div class="description-with-link">
        <span>{{ 'about-page.source-code' | translate }}</span>
        <a class="link" href="https://github.com/k2he/spring-boot-microservices/tree/v1.1-docker-compose" target="_blank">
          <img class="link-img" src="/assets/images/github-icon-2.png" />
          <span>{{ 'about-page.backend-page.backend-desc-notes-link1-desc' | translate }}</span>
        </a>
        <a class="link" href="https://cloud.docker.com/repository/list" target="_blank">
          <img class="link-img" src="/assets/images/docker_hub.png" />
          <span>{{ 'home-page.frontend-desc-notes-link2-desc' | translate }}</span>
        </a>
        <a class="link" href="{{apiPath}}/swagger-ui.html" target="_blank">
          <img class="link-img" src="/assets/images/swagger.png" />
          <span>{{ 'about-page.backend-page.backend-desc-notes-link2-desc' | translate }}
          </span>
        </a>
      </div>
      <div class="margin-top-30px">REST APIs built using Microservice Archtecture. Desgin diagram as below: </div>
      <img src="/assets/images/backend_architecture_design.JPG" />
      <div class="list-block">
        <div>
          <span class="description-title">{{ 'about-page.backend-page.backend-desc-title' | translate }}</span>
          <mat-list>
            <mat-list-item class="description-item">{{ 'about-page.backend-page.backend-desc-item1' | translate }}</mat-list-item>
            <mat-list-item class="description-item">{{ 'about-page.backend-page.backend-desc-item2' | translate }}</mat-list-item>
            <mat-list-item class="description-item">{{ 'about-page.backend-page.backend-desc-item3' | translate }}</mat-list-item>
            <mat-list-item class="description-item">{{ 'about-page.backend-page.backend-desc-item4' | translate }}</mat-list-item>
            <mat-list-item class="description-item">{{ 'about-page.backend-page.backend-desc-item5' | translate }}</mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="content-block">
        <div>
          <div class="description-title">Security Design and workflow</div>
          <div class="section">
            Using JWT token (included Expiration time and User role) to validate User access. First time when user trying to login, redirect
            to Authentication Server.
          </div>
          <div class="section">
            <div class="section-title">Authentication Server Design</div>
            <div class="section-text">
              1) If user choose to login using username and password, then validate again User information stored in Database along with
              User role.
            </div>
            <div class="section-text">
              2) If user choose to login using social login, redirect to Social Login page, if user grant access (email and profile). System
              will automatically create a new account using Email.
            </div>
          </div>
          <div class="section">
            On success login, JWT token will generated containing User roles, and sign with Private Key from Key Store, and return as
            login response. Also and there is a REST endpoint to access Public Key.
          </div>
          <div class="section">
            <div class="section-title">Public & Private Key</div>
            <div class="section-text">Public and Private key are stored in Key Store to prevent outside getting private key.
            </div>
          </div>
          <div class="section">
            <div class="section-title">Each Individual Services</div>
            <div class="section-text">
              Call to Each individule Service also need be validated using JWT token to improve security on individual service level.
            </div>
            <div class="section-text">Each Service will fetch Public key from Auth Server and then validate incoming JWT token. If validation fail,
              request get rejected. If success, resoure will be returned.
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="description-title">Deployment</div>
        <div class="section">
          Each service contains a Dockerfile, and docker images are on docker hub:
        </div>
        <div class="section">
          <a class="link" href="https://cloud.docker.com/repository/list" target="_blank">https://cloud.docker.com/repository/list</a>
        </div>
        <div class="section">
          It can be deployed to Cloud provide using Kubernetes or Cloud Provider have it's own tool for easy deployment. For instance:
          AWS we can use ECS to deploy docker into EC2 instances and do auto-scaling.
        </div>
      </div>
    </div>
  </div>
</div>