<div class="home-background">

  <mat-card class="center width-400px top-100px float-content-shadow">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <form class="">
          <mat-form-field class="">
              <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
              <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>