<div>
  <div class="content-title">{{ 'about-page.frontend-page.title' | translate }}</div>
  <div class="content-main">
    <div class="description-with-link">
      <span>{{ 'about-page.source-code' | translate }}</span>
      <a class="link" href="https://github.com/k2he/Angular-7-Frontend/tree/monolithic-v1.1-cloud" target="_blank">
        <img class="link-img" src="/assets/images/github-icon-2.png" />
        <span>{{ 'about-page.frontend-page.frontend-desc-notes-link1-desc' | translate }}</span>
      </a>
      <a class="link" href="https://cloud.docker.com/repository/docker/victoryssmile/angular-app" target="_blank">
        <img class="link-img" src="/assets/images/docker_hub.png" />
        <span>{{ 'about-page.frontend-page.frontend-desc-notes-link2-desc' | translate }}</span>
      </a>
    </div>
    <div class="list-block margin-top-30px">
      <span class="description-title">{{ 'about-page.frontend-page.frontend-desc-title' | translate }}</span>
      <mat-list>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.frontend-desc-item1' | translate }}</mat-list-item>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.frontend-desc-item2' | translate }}</mat-list-item>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.frontend-desc-item3' | translate }}</mat-list-item>
      </mat-list>
    </div>
    <div class="content-block">
      <div>
        <div class="description-title">Front-end Features:</div>
        <div class="section">
          <div class="section-text">This site was build just for learning Angular, so tried to use all Angular Feature and to follow best coding standard.
          </div>

          <div class="section">
            <div class="section-title margin-top-30px">Code Structure</div>
            <div class="section-text">
              Header, Footer, Home, Login, Page Not Found componments are in Core Module, and shared directives, pipes and shared components
              are under Shared Module.
            </div>
          </div>

          <div class="section">
            <div class="section-title">Mutiple Language - English/French for now (i18n)</div>
            <div class="section-text">
              The application support English and French version, if you click on Language Icon on top right corner of screen, whole site
              will switched to French, and click again, bring you back to English.
            </div>
          </div>

          <div class="section">
            <div class="section-title">Forms, validation, Pipe, Directive </div>
            <div class="section-text">
              Create Project Page is built use Reactive Form, and Contact Page is built using Template-driven Form. Both pages implemented
              form validation, and created an currency Pipe and Directive to convert amount into $ field and convert back.
            </div>
          </div>
          <div class="section">
            <div class="section-title">Lazy Loading</div>
            <div class="section-text">
              Lot of case, user only goes to certain pages, so Lazying loading is really important.
            </div>
          </div>
          <div class="section">
            <div class="section-title">Globle Error handing, Globle Show/Hide loading Spinner, JWT authentication token</div>
            <div class="section-text">
              These are implemented using HttpInterceptor.
            </div>
          </div>

          <div class="section">
            <div class="section-title">User Role check</div>
            <div class="section-text">
              By Default, all user is giving Admin access, so you can see Admin tab and you are able to visit that page, if you login as
              Normal User (User account and password is on Admin page), you won't be able to see Admin tab/page.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>