nav {
	float: left;
	width: 175px;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #d7d7d7;
	text-align: right;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 400px;
}

nav ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

nav a {
	display: block;
	color: #002B47;
	padding: 8px 20px 8px 8px;
	text-decoration: none;
}

nav ul li {
	border-bottom: 1px solid #b6b6b6;
}

nav ul a:hover {
    background-color: #929292;
	color: #ffffff;
}

nav ul a.active {
    background-color: #4CAF50;
    color: #ffffff;
}
