.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
	background: #353639;
	border: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.nav-bar {
	border-radius: 0;
	position: relative;
	height: 80px;
}

.mat-button:hover {
    background-color: #7c7c80fa;
    color: white;
}

.nav-title {
    padding: 5px 10px;
	color: #ace09f;
	font-size: 26px;
    line-height: 31px;
    font-family: georgia,garamond,serif;
    border-radius:5px;
    margin-left: 20px;
    -webkit-box-shadow: 1px 2px 11px 5px #aaff078c;  /* Safari*/
	-moz-box-shadow:    1px 2px 11px 5px #aaff078c;  /* Firefox */
	box-shadow:         1px 2px 11px 5px #aaff078c;  /* Other */
}

.nav-bar a {
	text-decoration: none;
}

.nav-links {
	position: absolute;
	right: 170px;
	color: #dadada;
	bottom: 13px;
}

.login {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 16px;
	color: #d2f9ff;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.footer {
	background-color: #353639;
    color: white;
    text-align: center;
    padding: 25px 35px;
    font-family: 'proxima-nova', 'Open Sans', Helvetica, Arial, sans-serif;
    min-height: 34px;
}

.footer .copy-right {
	float:left;
}

.footer .footer-content {
	float: right;
	text-align: right;
}