.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
	background: #353639;
	border: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.mat-button {
	text-transform: uppercase;
}

.nav-bar {
	border-radius: 0;
	position: relative;
	height: 80px;
}

.mat-button:hover {
    background-color: #7c7c80fa;
    color: white;
}

.nav-title {
    padding: 5px 10px;
	color: #ace09f;
	font-size: 26px;
    line-height: 31px;
    font-family: georgia,garamond,serif;
    border-radius:5px;
    margin-left: 20px;
    -webkit-box-shadow: 1px 2px 11px 5px #aaff078c;  /* Safari*/
	-moz-box-shadow:    1px 2px 11px 5px #aaff078c;  /* Firefox */
	box-shadow:         1px 2px 11px 5px #aaff078c;  /* Other */
}

.nav-bar a {
	text-decoration: none;
}

.nav-links {
	position: absolute;
	right: 170px;
	color: #dadada;
	bottom: 13px;
}

.tools {
	position: absolute;
	right: 35px;
	top: 10px;
	color: #8ad021ed;
}

.tools .material-icons {
	font-size: 28px;
    color: #8ad021ed;
}

.main-content {
	min-height: 545px;
    position: relative;
}

.footer {
	background-color: #353639;
    color: white;
    text-align: center;
    padding: 25px 35px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 15px;
    min-height: 34px;
    line-height: 20px;
}

.footer .copy-right {
	float:left;
}

.footer .footer-content {
	float: right;
	text-align: right;
}

.new-project-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 0.52em;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    background-color: #da2929;
    position: absolute;
    top: -2px;
    left: 186px;
    z-index: 10;
}
