/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin:0px;
	display: block;
	background: #e3e4e9;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.error {
	color:#f70d0d;
}
.page-not-found {
	width: 100%;
	margin-top: 100px;
	color: #f70d0d;
	font-size: 30px;
	text-align: center;
}

.page-not-found .material-icons {
    font-size: 100px;
    vertical-align: middle;
}

.page-main-container {
	background-color: white;
	margin:15px 50px 10px 50px;
	padding: 20px 30px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi {
	background-color: white;
	margin:15px 50px 10px 50px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi .main-container {
	width: 100%;
	padding-bottom:70px;
}

.page-main-container-with-sideNavi .main-container .content {
	padding: 30px 35px 30px 35px;
    overflow: hidden;
    min-height: 500px;
    margin-left: 150px;
}

.content-title {
	font-size: 23px;
	margin-bottom:70px;
	color: #635f5f;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.content-main { 
	margin-top: 50px;
	font-family: inherit;
	color: #514747;
}

.form-container{
	display: flex;
  	flex-direction: column;
}

.restful_call_status_ok {
	color: #2424a5;
	font-weight: bold;
	text-align: center;
}

.restful_call_status_failed {
	color: #f70d0d;
	font-weight: bold;
	text-align: center;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

.float-content-shadow {
	-webkit-box-shadow: 0px 0px 6px 2px #969696d9 !important;  /* Safari*/
	-moz-box-shadow:    0px 0px 6px 2px #969696d9 !important;  /* Firefox */
	box-shadow:         0px 0px 6px 2px #969696d9 !important;  /* Other */
}

.popup-title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #454846;
}
/*
CSS for both login and home page
*/
.home-background {
	background-image: url("/assets/home_background.jpg"); 
	background-repeat: no-repeat;
	min-height: 565px;
	background-size: 1280px 565px;
}

/* Material customized CSS */
.mat-dialog-container {
    border-radius: 5px !important;
    max-width: 400px;
}

.mat-dialog-container .title {
	font-size:15px;
}

.mat-dialog-container .dialog-content {
    font-size: 13px;
    color: #2558d4;
}

.mat-dialog-container .mat-button {
	border-radius: 5px;
}

.mat-card {
    border-radius: 5px !important;
}

.mat-card-actions {
	margin-left: 0px;
	margin-right: 0px;
}

.mat-card>.mat-card-actions:last-child {
	margin-bottom: -5px !important;
}
/*
Customized CSS for header page
*/
.login .mat-card-header-text {
	margin: 5px 0px 0px 0px!important;
}

.mat-card-header .mat-card-title {
	font-size: 16px !important;
}

.login .mat-card-actions {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 10px; 
}
/*
.mat-dialog-container .dialog-button .yes:focus, .mat-dialog-container .dialog-button .no:focus {
	border-width:1px;  
    border-style:dotted;
}
*/
.mat-dialog-container .dialog-button .yes {
    float: left;
}

.mat-dialog-container .dialog-button .yes:focus, .mat-dialog-container .dialog-button .yes:hover,
.mat-dialog-container .dialog-button .no:focus,  .mat-dialog-container .dialog-button .no:hover {
    background-color: #dad7d7;
}

.mat-dialog-container .dialog-button .no {
	float: right;
}

/* Table CSS start*/
.mat-table .mat-button{
    color: #545454;
    background-color: #b3b3b34f;
    border-radius: 8px;
}

.mat-form-field {
	margin-top:10px;
}

.mat-form-field-infix {
	width: 250px !important;
}

/* Single style CSS start */
.width-400px {
	width: 400px;
}

.width-500px {
	width: 500px;
}

.width-600px { 
	width: 600px;
}

.margin-top-50px {
	margin-top: 50px;
}

.display-inline { 
	display: inline-block;
}

.top-100px {
	top: 100px;
}

.center {
    margin: auto;
}

.margin-0 {
	margin: 0px !important;
}