/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin:0px;
	display: block;
	background: #e3e4e9;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.page-not-found {
	width: 100%;
	margin-top:100px;
	color: red;
	font-size: 30px;
	text-align: center;
}

.page-not-found .material-icons {
    font-size: 100px;
    vertical-align: middle;
}

.page-main-container {
	background-color: white;
	margin:15px 50px 10px 50px;
	padding: 20px 30px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi {
	background-color: white;
	margin:15px 50px 10px 50px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi .main-container {
	width: 100%;
	padding-bottom:70px;
}

.page-main-container-with-sideNavi .main-container .content {
	padding: 30px 35px 30px 35px;
    overflow: hidden;
    min-height: 500px;
    margin-left: 150px;
}

.content-title {
	font-size: 23px;
	margin-button:70px;
	color: #635f5f;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.content-main { 
	margin-top: 50px;
	font-family: inherit;
	color: #514747;
}

.form-container{
	display: flex;
  	flex-direction: column;
}

.restful_call_status_ok {
	color: #2424a5;
	font-weight: bold;
	text-align: center;
}

.restful_call_status_failed {
	color: red;
	font-weight: bold;
	text-align: center;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}
/* Material customized CSS */
.mat-dialog-container {
    border-radius: 5px !important;
    max-width: 400px;
}

.mat-dialog-container .title {
	font-size:15px;
}

.mat-dialog-container .dialog-content {
    font-size: 13px;
    color: #2558d4;
}

.mat-dialog-container .mat-button {
	border-radius: 5px;
}

/*
.mat-dialog-container .dialog-button .yes:focus, .mat-dialog-container .dialog-button .no:focus {
	border-width:1px;  
    border-style:dotted;
}
*/
.mat-dialog-container .dialog-button .yes {
    float: left;
}

.mat-dialog-container .dialog-button .yes:focus, .mat-dialog-container .dialog-button .yes:hover,
.mat-dialog-container .dialog-button .no:focus,  .mat-dialog-container .dialog-button .no:hover {
    background-color: #dad7d7;
}

.mat-dialog-container .dialog-button .no {
	float: right;
}

/* Table CSS start*/
.mat-table .mat-button{
    color: #545454;
    background-color: #b3b3b34f;
    border-radius: 8px;
}

.mat-form-field {
	margin-top:10px;
}

.mat-form-field-infix {
	width: 250px !important;
}

/* Single style CSS start */
.width-500px {
	width: 500px;
}

.width-600px { 
	width: 600px;
}

.margin-top-50px {
	margin-top: 50px;
}

.display-inline { 
	display: inline-block;
}
