/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	margin:0px;
	display: block;
	background: #e3e4e9;
}

.page-main-container {
	background-color: white;
	margin:15px 50px 10px 50px;
	padding: 20px 30px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi {
	background-color: white;
	margin:15px 50px 10px 50px;
	min-height:650px;
	border-radius: 5px;
	position: relative;
}

.page-main-container-with-sideNavi .main-container {
	width: 100%;
}

.page-main-container-with-sideNavi .main-container .content {
	padding: 30px 35px 30px 35px;
    overflow: hidden;
    min-height: 500px;
    margin-left: 150px;
}

.content-title {
	font-size: 23px;
	margin-button:70px;
	color: #635f5f;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.content-main { 
	margin-top: 50px;
	font-family: inherit;
	color: #514747;
}

.form-container{
	display: flex;
  	flex-direction: column;
}

.width-500px {
	width: 500px;
}

.width-600px { 
	width: 600px;
}

.margin-top-50px {
	margin-top: 50px;
}

.display-inline { 
	display: inline-block;
}

.mat-form-field {
	margin-top:10px;
}



.restful_call_status_ok {
	color: #2424a5;
	font-weight: bold;
	text-align: center;
}

.restful_call_status_failed {
	color: red;
	font-weight: bold;
	text-align: center;
}